<div class="mt-4">
  <% if @menus.present? %>
    <% @menus.each do |menu| %>
      <div class="text-lg font-bold">
        <%= link_to menu.title, menu_path(menu) %>
      </div>
      <div class="flex w-full sm:w-1/2 lg:w-1/3 mb-3 ml-5 mt-10">
        <% menu.recipes.each do |recipe| %>
          <div id="<%= recipe.id %>">
            <div class="bg-white rounded shadow">
              <%= image_tag recipe.avatar_url, class: "w-72 h-48 object-cover", alt: "Avatar" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="mb-3">献立がありません</div>
  <% end %>
</div>
<div class="text-black bg-purple-500 py-10 px-20 mt-40 justify-self-center">
  <%= link_to "献立作成", new_menu_path %>
</div>
