<div class="border border-gray-900 ml-10">
<tr id="comment-<%= comment.id %>">
  <tr>
    <h3 class=""><%= comment.user.name %></h3>
    <p><%= simple_format(comment.body) %></p>
  </tr>
  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="flex justifi-center space-x-2">
        <li>
          <%= link_to "#", class: "edit-comment-link flex items-center" do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
</div>