<div class="border border-gray-900 ml-10">
<tr id="comment-<%= comment.id %>">
  <tr>
    <h3 ><%= comment.user.name %></h3>
    <p><%= simple_format(comment.body) %></p>
  </tr>
  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="flex justifi-center space-x-2">
        <li class="list-inline-item justify-end text-red-500">
          <%= link_to "削除", comment_path(comment), class: "delete-comment-link", data: { turbo_method: :delete } %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
</div>
