<div class='ms-auto'>
  <% if current_user && current_user.favorite?(recipe) %>
    <%= render "unfavorite", { recipe: recipe } %>
  <% else %>
    <%= render "favorite", { recipe: recipe } %>
  <% end %>
</div>