<div class="md:flex flex-col md:flex-row md:justify-between mx-80 mt-80">
  <div class="bg-green-300 p-20">
    <%= link_to "献立", menus_path, class: "text-5xl text-black" %>
  </div>
  <div class="bg-green-300 p-20">
    <%= link_to "レシピ一覧", recipes_path, class: "text-5xl text-black" %>
  </div>
</div>
