<div class="md:flex md:justify-between md:mx-80 md:mt-80 flex-col md:flex-row">
  <div class="bg-green-300 py-5 md:p-20 mt-10">
    <%= link_to "献立", menus_path, class: "text-5xl text-black" %>
  </div>
  <div class="bg-green-300 md:p-20 mt-10">
    <%= link_to "レシピ一覧", recipes_path, class: "text-5xl text-black" %>
  </div>
</div>
