<div class="container">
  <div class="flex mt-20 justify-self-center bg-blue-300 py-5 px-20 rounded-full ml-20">
    <%= "#{@name}のページ" %>
  </div>
</div>
<div class="container">
  <div class="flex justify-between justify-items-center  mt-40">
   <div class="text-black bg-green-300 ml-20 p-20">
    マイ献立
   </div>
   <div class="text-black bg-green-300 p-20">
    マイレシピ
   </div>
   <div class="text-black bg-green-300 p-20">
    お気に入り
   </div>
  </div>
</div>
<div class="container">
  <div class="flex justify-between ml-20 mt-20">
    <div class="text-black bg-purple-500 py-10 px-20">
      献立作成
    </div>
    <div class="text-black bg-purple-500 py-10 px-20">
      <%= link_to "レシピ作成", new_recipe_path %>
    </div>
  </div>
</div>
