<footer class="bg-sky-400">
  <nav class="m-5">
    <div class="item-left">
      <%= link_to '利用規約', pages_terms_path, class: 'flex text-black' %>
      <%= link_to 'プライベートポリシー', pages_privacy_path, class: 'flex text-black' %>
    </div>
</footer>
